SQLAlchemy
psycopg2
certifi
elasticsearch>=6.0.0,<7.0.0
elasticsearch-dsl>=6.0.0,<7.0.0
websocket-client
schedule
dash==0.27.0  # The core dash backend
dash-html-components==0.13.2  # HTML components
dash-core-components==0.30.2  # Supercharged components
requests>=2.3.0
pandas>=0.19.2
pandas-datareader